svg.svg-content-responsive {
    background: lightgrey;
}

g.node-group circle {
    fill: #5D3A9B;
}

g.node-group text {
    fill: white;
    font-size: 1em;
    text-anchor: middle;
    pointer-events: none;
}

g.metric-group text {
    fill: black;
    font-size: 1em;
    pointer-events: none;
}

g.link-group line {
    stroke: #E66100;
    stroke-width: 2;
}