svg.svg-content-responsive {
    background-image: url("../svg/arcwave.svg");
    background-color: #6495ed;
    background-repeat:repeat;
}

g.hull-wrapper polygon {
    fill: #f1ccb1;
}

g.node-group circle {
    fill: white;
    stroke: black;
}

g.node-group text {
    fill: black;
    font-size: 0.5em;
    text-anchor: middle;
    pointer-events: none;
}

g.link-group line {
    stroke: red;
    opacity: 0.8;
    stroke-dasharray: 10, 4;
}