svg.svg-content-responsive {

    background: url('https://www.google.nl/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png') no-repeat;
}

g.node-group circle {
    stroke: black;
    fill: cornflowerblue;
}

g.node-group text {
    fill: black;
    font-size: 1em;
    text-anchor: middle;
    pointer-events: none;
}

g.link-group line {
    stroke: red;
    stroke-width: 5;
}