<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Travelling Salesperson Problem</title>
</head>
<body>
<div class="container-fluid">
    <div>
        <h1 th:text="${title}"></h1>
    </div>
    <div id="tsp_graph">
        <script th:inline="javascript">
            let attrs = {
                svgWidth: 960,//document.getElementById('#tsp_graph').clientWidth,
                svgHeight: 600,//document.getElementById('#tsp_graph').clientHeight,
                zoomSpeed: 3000,
            };

            let data = [[${data}]];
            let nodeArray = [];
            for (let id in data) {
                nodeArray.push(data[id]);
            }

            console.log(data);
            console.log(nodeArray);

            let behaviours = {};

            let svg = d3.select("#tsp_graph").append("svg")
                .attr("width", attrs.svgWidth)
                .attr("height", attrs.svgHeight)
                .style("background", "lightgrey");

            let svgWrapper = svg.append('g').attr("class", 'svg-wrapper');
            let nodesWrapper = svgWrapper.append('g').attr("class", 'nodes-wrapper');

            //########################### BEHAVIORS #########################
            behaviours.zoom = d3.zoom()
                .scaleExtent([
                    [-attrs.svgWidth,-attrs.svgHeight],
                    [2*attrs.svgWidth,2*attrs.svgHeight]
                ])
                .on('zoom', function(event) {
                    svgWrapper.selectAll('.nodes-wrapper')
                        .attr('transform', event.transform);
                });
            svg.call(behaviours.zoom);

            let nodes = nodesWrapper.selectAll(".node-group").data(nodeArray)
            nodes.enter().append('circle')
                .attr("class", "node-group")
                .attr("cx", d => d.x / 10)
                .attr("cy", d => d.y / 10)
                .attr("r", 10)
                .attr('stroke', 'black')
                .attr('fill', '#69a3b2');

            // ######### ZOOM FUNCTIONS ###########
            function zoomed() {
                let transform = d3.event.transform;

                // apply transform event props to the wrapper
                svgWrapper.attr('transform', transform)

                svgWrapper.selectAll('.node-group').attr("transform", function (d)
                {
                    return `translate(${d.x},${d.y}) scale(${1 / transform.k})`;
                });
            }
        </script>
    </div>
    <!--<div id="tsp_graph">
        <script src="/js/tourData.js"></script>
        <script src="/js/graph.js"></script>
        <script>
            d3.select("#tsp_graph").append("svg");
        </script>
    </div>-->
</body>
</html>